*{
    margin:0;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.6em;
}
header{
    background: radial-gradient(#05058A, #6AD0F6);
    background-position: center center;
    background-size: cover;
    height:250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    order: 1;
    color: #EFEC28;
}
header h1{
    font-size: 2rem;
}
header h2{
    font-size: 1rem;
    padding: 3%;
}

/*
------------------------------------------------------
 links
------------------------------------------------------
*/
 a:hover{
    color: #EFEC28;
    text-decoration: underline;
}
 a{
    color: #05058A;
    text-decoration: none ;
}

/*
--------------------------------------------------------
summary and preamble
-------------------------------------------------------
*/
.preamble, .summary {
    background-color: #DFEEF3;
}
/*
--------------------------------------------------------
main
-------------------------------------------------------
*/
.main{
    background-color: #51A9D2;
}

/*
--------------------------------------------------------
aside
-------------------------------------------------------
*/
aside{
    background-color: #3876AB;
}
/*
==============================================================
Layout
==============================================================
*/
.page-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
 .main{
     width: 75%;
 }
 .sidebar{
   width: 25%;
 }
 .main > div, footer{
     box-sizing:border-box;
     padding: 2em;
 }
 .sidebar{
     box-sizing:border-box;
     padding: 2em;
 }
.intro > div{
     box-sizing:border-box;
     padding: 2em;
}
 /*
------------------------------------------------------
summary and rpeamble
------------------------------------------------------
 */
.summary, .preamble{
   margin:0 auto;
}

/*
------------------------------------------------------
footer
------------------------------------------------------
*/
.main footer{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 740px) {
    .main{
        flex-basis: 100%;
        font-size: 0.79em;
        line-height: 1.6em;
    }
    .sidebar{
        flex-wrap: wrap;
        flex-basis: 100%;
}
    @media screen and (max-width: 450px) {
    aside div {
        flex-basis: 100%;
    }